

.home-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.home-button:hover {
    background-color: #0056b3;
}

.save-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}

.save-button:hover {
    background-color: #218838;
}